{% extends './templates/base.html.twig' %}
{% block content %}
<div class='container'>
    <h1 class='page-header text-center'>{{ pageHeader }}</h1>
    {% block items %}
    <div class='row'>
        {% for item in menu %}
        <div class='col-sm-4 pt-1 pb-1'>
            <div class="card">
                <img src="./assets/images/{{ item.name }}.jpg" class="card-img-top">
                <form>
                    <div class="form-group card-body">
                        <h5 class="card-title text-uppercase text-center">{{ item.name }}</h5>
                        <div class="card-text">
                            {% if item.sizes != null %}
                            <div class='row'>
                                <div class='col'>
                                    <div class='row-fluid'>
                                        <h6 class="text-uppercase text-center">Sizes</h6>
                                    </div>
                                    <div class='row-fluid'>
                                        {% set sizes = item.sizes|split(',') %}
                                        {% for size in sizes %}
                                        <div class="form-check form-check-inline">
                                            {% if size == sizes[0] %}
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1" checked>
                                            {% else %}
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1">
                                            {% endif %}
                                            <label class="form-check-label" for="inlineRadio1">{{ size }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class='row'>
                                <div class='col d-flex align-items-center text-center'>
                                    <div class='container-fluid'>${{ item.price }}</div>
                                </div>
                                <div class='col d-flex align-items-center text-center'>
                                    <div class='container-fluid'>
                                        <button type='submit' class="btn btn-primary">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>
{% endblock %}