{% extends './templates/base-staff.html.twig' %}
{% block content %}
    <div class="container">
        <h1 class="page-header text-center text-uppercase">{{ title }}</h1>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 pt-1 pb-1">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-uppercase mb-0 text-center">Manage Stock</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <table class="table table-borderless">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Available</th>
                                </tr>
                                {% for item in stock %}
                                    <tr>
                                        <form method="post">
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>
                                                <input type="hidden" class="form-control" id="itemid"
                                                       value="{{ item.id }}" name="itemid">
                                                <input type="hidden" class="form-control" id="itemstock"
                                                       value="{{ item.stock }}" name="itemstock">
                                                <button class="btn btn-primary btn-block text-uppercase font-weight-bold
                                                        {% if item.stock == false %} btn-danger {% endif %}{% if item.stock == true %} btn-success{% endif %}">
                                                    {% if item.stock == false %} Out of Stock {% endif %}{% if item.stock == true %} In Stock {% endif %}
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 pt-1 pb-1">
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        <h5 class="card-title text-uppercase mb-0 text-center">Add Staff Member</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <form method="post">
                                <input type="text" class="form-control" id="staffid" name="staffid"
                                       placeholder="Staff ID">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Password">
                                <select class="custom-select" name="title" id="title">
                                    <option value="STAFF" selected>Staff</option>
                                    <option value="MANAGER">Manager</option>
                                    <option value="OWNER">Owner</option>
                                    <option value="ADMIN">Admin</option>
                                </select>
                                <button class="btn btn-primary btn-block text-uppercase font-weight-bold">Create
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mt-1 mb-1">
                    <div class="card-header">
                        <h5 class="card-title text-uppercase mb-0 text-center">Manage Existing Staff</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <table class="table table-borderless">
                                <tr>
                                    <th>ID</th>
                                </tr>
                                {% for member in staff %}
                                    <tr>
                                        <form method="post">
                                            <td>{{ member.id }}</td>
                                            <td>
                                                <input type="hidden" class="form-control" id="memberid"
                                                       value="{{ member.id }}" name="memberid">
                                                <button class="btn btn-primary btn-block btn-danger text-uppercase font-weight-bold">
                                                    Remove
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
