{% extends './templates/base-staff.html.twig' %}
{% block content %}
    <div class="container">
        <h1 class="page-header text-center text-uppercase">{{ title }}</h1>
        <table style="width:100%">
            <tr>
                <th>Customer</th>
                <th>Time</th>
                <th>Items</th>
                <th></th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.time }}</td>
                </tr>
                {% set items = order.items|replace({'[':"",']':"",'"':""})|split(',') %}
                {% for item in items %}
                    {% set components = item|split(':') %}
                    {% for menuItem in menu %}
                        {% if menuItem.id == components[0] %}
                            <tr>
                                <td colspan="2"></td>
                                <td>{{ menuItem.name }}</td>
                                {% if components|length >1%}
                                    <td>Size : {{ components[1] }}</td>
                                    {% endif %}
                            </tr>
                        {% endif %}"

                        {% endfor %}
                {%  endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}