{% extends './templates/base-staff.html.twig' %}
{% block content %}
    <div class="container">
        <h1 class="page-header text-center text-uppercase">{{ title }}</h1>
        <table class="table table-borderless table-sm">
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Time</th>
                <th>Items</th>
                <th></th>
                <th></th>
            </tr>
            <script>
                var orders = {{ orders|json_encode|raw }};

                function updateOrderTime() {
                    for (var x = 0; x < orders.length; ++x) {
                        if (orders[x].done == false) {
                            let now = new Date();
                            let orderTime = new Date(orders[x].time).addHours(10);
                            let diffMins = Math.floor(((now - orderTime) / 1000) / 60);
                            console.log(x + "time");
                            document.getElementById(x + "time").innerHTML = diffMins;
                        }
                    }
                }
            </script>
            {% set count = -1 %}
            {% for order in orders %}
                {% set count = count + 1 %}
                {% if order.done == false %}
                    <tr>
                        <form method="post">
                            <td>{{ order.id }}</td>
                            <td>{{ order.customer }}</td>
                            <td><span id="{{ count }}time"></span> minutes</td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="hidden" class="form-control" id="orderid" value="{{ order.id }}"
                                       name="orderid">
                                <button class="btn btn-primary btn-block">Completed</button>
                            </td>
                        </form>
                    </tr>
                    {% set items = order.items|replace({'[':"",']':"",'"':""})|split(',') %}
                    {% for item in items %}
                        {% set components = item|split(':') %}
                        {% for menuItem in menu %}
                            {% if menuItem.id == components[0] %}
                                <tr>
                                    <td colspan="3"></td>
                                    <td>{{ menuItem.name }}</td>
                                    {% if components|length >1 %}
                                        <td>Size : {{ components[1] }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <script>
        var t = setInterval(updateOrderTime, 1000);
    </script>
{% endblock %}