{% extends './templates/base.html.twig' %}
{% block content %}
    <script>
        function checkOrder() {
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("alert").innerHTML = this.responseText;
                }
            }
            xmlhttp.open("GET", "/notification?id=" + {{ order.id }}, true);
            xmlhttp.send();
        }

        clearCart();
        updateCartLength();
        var menu = {{ menu|json_encode|raw }};
    </script>
    <div id="alert"></div>
    <div class="container">
        <div class="row mt-1 mb-1">
            <div class="col">
                <h1 class="page-header text-center text-uppercase">Order Confirmation</h1>
                <h3 class="text-success text-center">Thank you for your order</h3>
                <h5 class="text-success text-center">Leave this page open to receive a notification once your order is
                    ready<br/>
                    Your order number is: #{{ order.id }}</h5>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col">
                <div class="cart overflow-auto">
                    {% set items = order.items|replace({'[':"",']':"",'"':""})|split(',') %}
                    {% for item in items %}
                        {% for menuItem in menu %}
                            {% set components = item|split(':') %}
                            {% if components[0] == menuItem.id %}
                                {% if components|length > 1 %}
                                    {% if components[1] == "S" %}
                                        {% set itemsize = "Small" %}
                                        {% set itemprice = menuItem.sprice %}
                                    {% elseif components[1] == "M" %}
                                        {% set itemsize = "Medium" %}
                                        {% set itemprice = menuItem.mprice %}
                                    {% elseif components[1] == "L" %}
                                        {% set itemsize = "Large" %}
                                        {% set itemprice = menuItem.lprice %}
                                    {% endif %}
                                {% endif %}
                                <div class='card mt-1 mb-1'>
                                    <div class='row no-gutters'>
                                        <div class='col-3 col-md-2 col-lg-1'>
                                            <a href='/item/{{ menuItem.id }}'><img
                                                        src='/assets/images/{{ menuItem.name }}.jpg'
                                                        alt='{{ menuItem.name }}'
                                                        class='card-img h-100 of-cover'></a>
                                        </div>
                                        <div class='col d-flex align-items-center'>
                                            <div class='card-body'>
                                                <h5 class='card-title text-uppercase'>{% if itemsize is defined %}{{ itemsize }} {% endif %}
                                                    {{ menuItem.name }}</h5>
                                                <h6 class='card-subtitle text-muted'>
                                                    ${% if itemprice is defined %}{{ itemprice }}{% else %}{{ menuItem.sprice }}{% endif %}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <script>
            (function myLoop(i) {
                setTimeout(function () {
                    checkOrder();
                    if (--i) myLoop(i);
                }, 5000)
            })(2000);
        </script>
{% endblock %}